@page "/"

<PageTitle>Home</PageTitle>

<h1>balls</h1>
<div class="card w-96 bg-white/5 shadow-xl">
  <figure><img src="https://media.discordapp.net/attachments/1160653763632181338/1179107950246232154/dementia-i-dont-remember-asking.gif?ex=657894da&is=65661fda&hm=a1351946867fad4769194e90c9fb381f7e742508540e8ab92daec5510a2aaa0f&" alt="Shoes" /></figure>
  <div class="card-body">
    <h2 class="card-title">Shoes!</h2>
    <p>If a dog chews shoes whose shoes does he choose?</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Buy Now</button>
    </div>
  </div>
</div>

<h1 class="text-primary">ananas</h1>
