<header class="navbar flex justify-center glass-panel col-span-2" style="border-radius: 0"> @*bg-base-100*@ 
    <a href="" class="btn btn-ghost normal-case text-2xl text-center">Elevators</a>
</header>