<MudCard Outlined="true" Class="flex !rounded-2xl p-8 gap-8">
    <MudImage Class="h-64" Src="images/undraw_add_files_re_v09g.svg"></MudImage>
    <div class="flex flex-col items-center justify-center gap-16">
        <MudText Class="text-center" Typo="Typo.h3">This Server Has No <br><span class="text-[var(--mud-palette-primary)]">Bot</span> Yet</MudText>
        <MudButton Href="@InviteLink" Variant="Variant.Filled" Class="!rounded-xl !p-3 !px-8" Size="Size.Large" Color="Color.Primary">Add Elevators</MudButton>
    </div>
</MudCard>