<MudCard Outlined="true" Class="flex !rounded-2xl p-8 gap-8">
    <MudImage Class="h-64" Src="images/undraw_create_re_57a3.svg"></MudImage>
    <div class="flex flex-col items-center justify-center gap-16">
        <MudText Class="text-center" Typo="Typo.h3">No Ongoing<br><span class="text-[var(--mud-palette-primary)]">Game</span> Yet</MudText>
        <MudButton Variant="Variant.Filled" Class="!rounded-xl !p-3 !px-8" Size="Size.Large" Color="Color.Primary">Create Game</MudButton>
    </div>
</MudCard>