<div class="card glass-panel w-1/2">
    <div class="overflow-x-auto card-body ">
        <table class="table">
            <!-- head -->
            <thead>
            <tr class="text-center">
                <th>Floor</th>
                <th>Player</th>
                <th>Action</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center text-2xl">4</td>
                <td>
                    <div class="flex items-center space-x-3">
                        <div class="avatar">
                            <div class="mask mask-squircle w-12 h-12">
                                <img src="imgs/discordAvatar.png"/>
                            </div>
                        </div>
                        <div>
                            <div class="font-bold">Darkun</div>
                            <div class="text-sm opacity-50">darkun68</div>
                        </div>
                    </div>
                </td>
                <td class="text-center text-error font-bold">
                    Cut
                    <br/>
                    <span class="badge badge-ghost badge-sm">Ananas</span>
                </td>
                <td>
                    <button class="btn btn-error btn-outline w-40">Kick Player</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>