@page "/Faq"


<FaqPage>
    
    <div class="bg-gray-800 p-10 m-auto flex justify-center">
        <img alt="" src="images/undraw_questions_re_1fy7.svg" class="w-96 h-96 m-10"/>  
        <MudExpansionPanels Class="bg-gray-800 w-1/2 float-right mt-16 relative size-9">
            <MudExpansionPanel Text="Bro had 0 hours on Aim Lab" MaxHeight="150" Style="background-color: rgb(66,66,66); color:white;">
                <MudText Typo="Typo.h6" Style="@($"color:{Colors.Grey.Lighten1}")">JIP rozmrdávka</MudText>
            </MudExpansionPanel>

            <MudExpansionPanel Text="Lorem ipsum dolor sit amet" Style="background-color: rgb(66,66,66); color: white;">
                <MudText Typo="Typo.h6" Style="@($"color:{Colors.Grey.Lighten1}")">Videa poskytují učinný způsob, jak ukázat, že máte pravdu</MudText>
            </MudExpansionPanel>

            <MudExpansionPanel Text="Čili jak bych tak řekl" Style="background-color: rgb(66,66,66); color: white;">
                <MudText Typo="Typo.h6" Style="@($"color:{Colors.Grey.Lighten1}")">Vypadá to, že vám všem skončilo členství v kurzu</MudText>
            </MudExpansionPanel>

            <MudExpansionPanel Text="Jo píše to nelze zpracovat požadavek" Style="background-color: rgb(66,66,66); color: white;">
                <MudText Typo="Typo.h6" Style="@($"color:{Colors.Grey.Lighten1}")">Jo já vim řešim to!!!!!</MudText>
            </MudExpansionPanel>
        </MudExpansionPanels>

    </div>
    
</FaqPage>

@code {
    
}