<MudAppBar Color="Color.Dark" Fixed="false">
    <MudButton Href="/" Variant="Variant.Filled" Color="Color.Dark" DisableElevation>
        <MudText Typo="Typo.h6">Home</MudText>
    </MudButton>
    <MudSpacer/>
    <MudText Typo="Typo.h4">
        <b>Elevators</b>
    </MudText>
    <MudSpacer/>
    <AuthorizeView>
        <Authorized>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@ToggleOpen">@AccountState.DisplayName</MudButton>
            <div class="right-0 mt-6">
            <MudPopover Open="@_open" Fixed="false" Class="px-4 pt-4">
                <div class="d-flex flex-column text-center">
                    <MudButton Href="/">
                        <MudText>View Profile</MudText>
                    </MudButton>
                    <MudButton Href="/">
                        <MudText>Log Out</MudText>
                    </MudButton>
                    
                    <MudButton OnClick="@ToggleOpen" Class="ml-auto mr-b3 mb-1" Color="Color.Error">Close</MudButton>
                </div>
            </MudPopover>
            </div>
        </Authorized>
        <NotAuthorized>
            <MudButton Href=@Configuration["uri:oauth2"] Variant="Variant.Filled" Color="Color.Dark" DisableElevation>
                <MudText Typo="Typo.h6">Sign In</MudText>
            </MudButton>
        </NotAuthorized>
    </AuthorizeView>

</MudAppBar>