@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (!SelectedGuildState.Value.IsLoading)
{
    <DashboardGuildAside/>
}
<main class="w-full flex items-center justify-center">
    @if (SelectedGuildState.Value.IsLoading)
    {
        <p>...</p>
    }
    else
        switch (SelectedGuildState.Value.GuildStatus)
        {
            case GuildStatus.NoBot:
                <DashboardGuildNoBot/>
                break;
            case GuildStatus.NoGame:
                <DashboardGuildNoGame/>
                break;
            case GuildStatus.Lobby:
                <DashboardGuildLobby/>
                break;
            case GuildStatus.Game:
                break;
        }
</main>