@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (!SelectedGuildState.Value.IsLoading && SelectedGuildState.Value.GuildStatus != GuildStatus.NoBot)
{
    <DashboardGuildAside GuildId="GuildId"/>
}
<main class="w-full flex items-center justify-center">
    @if (SelectedGuildState.Value.IsLoading)
    {
        <p>...</p>
    }
    else
        // switch (SelectedGuildState.Value.GuildStatus)
        switch (GuildStatus.Game)
        {
            case GuildStatus.NoBot:
                <DashboardGuildNoBot GuildId="GuildId"/>
                break;
            case GuildStatus.NoGame:
                <DashboardGuildNoGame GuildId="GuildId"/>
                break;
            case GuildStatus.Lobby:
                <DashboardGuildLobby GuildId="GuildId"/>
                break;
            case GuildStatus.Game:
                <DashboardGuildGame/>
                break;
        }
</main>