<div class="rounded-2xl bg-gray-900 w-2/3">
    <table>
        <tr>
            
            <th><MudImage Class="ml-1 rounded-full border-b float-left" style="row-span: 2" Src=@($"https://cdn.discordapp.com/avatars/{AccountState.Id}/{AccountState.Avatar}.webp?size=128")/></th>
            <td><MudText Typo="Typo.h4" Class="text-white">Skibidi</MudText><br>
                <MudText Typo="Typo.h5" Class="text-gray-500 float-right">skibidi1337</MudText></td>
        </tr>
    </table>
</div>

<div class="rounded-2xl bg-gray-900 text-center w-1/6">
    <MudText Typo="Typo.h4" Class="text-white">Games</MudText>
    <MudText Typo="Typo.h5" Class="text-gray-500 float-left"><span class="text-white">8</span> wins</MudText>
    <MudText Typo="Typo.h5" Class="text-gray-500 float-right"><span class="text-white">4</span> losses</MudText>
    <div class="w-1/2">
        <div class="rounded-2xl w-8/12 bg-green-600"></div>
        <div class="rounded-2xl w-4/12 bg-red-600"></div>
    </div>
</div>

<div class="rounded-2xl bg-gray-800">
    <div class="w-1/6 float-left">
        <MudImage Src="src/Elevators/wwwroot/images/starrank.png"></MudImage>
        <MudText Typo="Typo.h5"><span class="text-gray-500">Level</span> 69</MudText>
    </div>
    
    <div class="w-2/3 float-right">
        <MudText Typo="Typo.h4">
            Rank
        </MudText>
        <div class="w-8/12">
            <div class="w-1/2 rounded-2xl bg-yellow-500"></div>
            <div class="w-1/2 rounded-2xl bg-gray-800"></div>
            <div class="flex justify-between">
                <MudText Typo="Typo.h5">5,000<span class="text-gray-800">XP</span></MudText>
                <MudText Typo="Typo.h5">6,500<span class="text-gray-800">XP</span></MudText>
                <MudText Typo="Typo.h5">8,000<span class="text-gray-800">XP</span></MudText>
            </div>
        </div>
    </div>
    
    
    
</div>