

<DashboardServerList>
    <div class="w-1/6 bg-gray-800">
        <MudImage Class="ml-1 rounded-3xl border-b" Src=@($"https://cdn.discordapp.com/avatars/{AccountState.Id}/{AccountState.Avatar}.webp?size=32")/>
        <MudPaper Class="pa-16 ma-2" Elevation="0"></MudPaper>
        <MudPaper Class="pa-16 ma-2" Elevation="0"></MudPaper>
        <MudPaper Class="pa-16 ma-2" Elevation="0"></MudPaper>
        <MudPaper Class="pa-16 ma-2" Elevation="0"></MudPaper>
        <MudPaper Class="pa-16 ma-2" Elevation="0"></MudPaper>
        <MudPaper Class="pa-16 ma-2" Elevation="0"></MudPaper>
        <MudPaper Class="pa-16 ma-2" Elevation="0"></MudPaper>
        <MudPaper Class="pa-16 ma-2" Elevation="0"></MudPaper>
        
    </div>
</DashboardServerList>




