<section class="flex gap-8">
    <MudCard Outlined="true" Class="flex h-fit p-8 !rounded-2xl mt-8 gap-8 items-center justify-center">
        <MudImage Class="h-20 rounded-xl" Src="images/avatar.png"></MudImage>
        <div>
            <MudText Typo="Typo.h3">Welcome</MudText>
            <MudText Typo="Typo.h4">darkun68</MudText>
        </div>
    </MudCard>

    <MudCard Outlined="true" Class="flex h-fit p-8 !rounded-2xl mt-8 gap-8 items-center justify-center">
        <MudImage Class="h-20 rounded-xl" Src="images/avatar.png"></MudImage>
        <MudProgressLinear Indeterminate="true" Class="!w-16 ananas" ></MudProgressLinear>
    </MudCard>
</section>