<DashboardServerList>
<div class="w-1/6 bg-gray-800">
    <MudImage Class="ml-1 rounded-3xl border-b" Src=@($"https://cdn.discordapp.com/avatars/{AccountState.Id}/{AccountState.Avatar}.webp?size=32")/>
</div>
</DashboardServerList>


