
    <div class="w-1/6 bg-gray-800 text-center float-left">
        @* <MudImage Class="m-auto rounded-full" Src=@($"https://cdn.discordapp.com/avatars/{AccountState.Id}/{AccountState.Avatar}.webp?size=128")/> *@
        <hr/>
        <MudPaper Class="pa-8 ma-2" Elevation="3"></MudPaper>
        <MudPaper Class="pa-8 ma-2" Elevation="3"></MudPaper>
        <MudPaper Class="pa-8 ma-2" Elevation="3"></MudPaper>
        <MudPaper Class="pa-8 ma-2" Elevation="3"></MudPaper>
        <MudPaper Class="pa-8 ma-2" Elevation="3"></MudPaper>
        <MudPaper Class="pa-8 ma-2" Elevation="3"></MudPaper>
        <MudPaper Class="pa-8 ma-2" Elevation="3"></MudPaper>
        <MudPaper Class="pa-8 ma-2" Elevation="3"></MudPaper>
    </div>





