@using Web.Connectors
@inject IHostingGameOnServerConnector connector


    @if (!connector.NotJoinedServers.Contains(ServerId) && !connector.JoinedServers.Contains(ServerId))
    {
        <article class="flex items-center justify-center">
            <span class="loading loading-spinner loading-lg"></span>
        </article>
    }
    else if (connector.NotJoinedServers.Contains(ServerId))
    {
        <article class="flex items-center justify-center">
            <section class="card card-side glass-panel shadow-xl p-8">
                <figure><img class="w-40" src="imgs/Add_Files.svg" alt="File Icon"/></figure>
                <div class="card-body gap-4">
                    <h2 class="card-title">Add Discord bot to this server</h2>
                    <p>Click the button below to add our bot to your server.</p>
                    <div class="card-actions justify-end">
                        <a href="https://discord.com/oauth2/authorize?client_id=1135226184217677926&permissions=8&scope=bot%20applications.commands&guild_id=@ServerId" class="btn btn-primary">Add to discord</a>
                    </div>
                </div>
            </section>
        </article>
    }
    else if(connector.JoinedServers.Contains(ServerId))
    {
        <article class="dashboard-article overflow-visible">
            <section class=" glass-panel p-4 flex flex-col items-center gap-4 w-80">
                <h2 class="text-center">Welcome to Dashboard!</h2>
                <div class="avatar">
                    <div class="w-24 mask mask-circle">
                        <img src="imgs/discordAvatar.png"/>
                    </div>
                </div>
                <h3>Server</h3>
                <button class="btn btn-error btn-outline w-3/4">Logout</button>
            </section>
            
            <article class="flex items-center justify-center">
                @if (!isCreatingGame)
                {
                    <section class="card card-side glass-panel shadow-xl p-8">
                        <figure><img class="w-40" src="imgs/Join.svg" alt="File Icon"/></figure>
                        <div class="card-body gap-4">
                            <h2 class="card-title overflow-visible">No game available</h2>
                            <p>Click the button below to create a new game.</p>
                            <div class="card-actions justify-end">
                                <a @onclick="() => isCreatingGame = true" class="btn btn-primary">Create game</a>
                            </div>
                        </div>
                    </section>
                }
                else
                {
                    <section class="card card-side glass-panel shadow-xl p-8">
                        <figure><img class="w-40" src="imgs/Join.svg" alt="File Icon"/></figure>
                        <div class="card-body gap-4">
                            <h2 class="card-title overflow-visible">Create new game</h2>
                            <div class="form-control w-full max-w-xs">
                                <label class="label">
                                    <span class="label-text">Max player count</span>
                                </label>
                                <input type="number" placeholder="2" class="input input-bordered input-primary w-full max-w-xs" required min="2" max="10" />
                            </div>
                            <div class="form-control w-full max-w-xs">
                              <label class="label">
                                <span class="label-text">Max floor count</span>
                              </label>
                              <input type="number" placeholder="3" class="input input-bordered input-primary w-full max-w-xs" required min="3" max="99" />
                            </div>
                            <div class="card-actions justify-end">
                                <a @onclick="() => isCreatingGame = true" class="btn btn-primary">Create game</a>
                            </div>
                        </div>
                    </section>
                }
            </article>
        </article>
    }

    


@code{

    [Parameter]
    public long ServerId { get; set; }

    private bool isCreatingGame = false;
    
    protected override async Task OnInitializedAsync()
    {
        await connector.BotIsJoined(ServerId);
    }
    
    protected override async Task OnParametersSetAsync()
    {
        Console.WriteLine("fachá");
        // Check if @page attribute has been modified
        // Perform additional logic here if needed
            
        // Execute OnInitializedAsync again
        await base.OnParametersSetAsync();
        await OnInitializedAsync();
    }
}