@page "/About"

<HeaderComponent/>
<hr class="primary-hr"/>
<main>
  <section class="border-l-primary border-l-[1px]" style="margin-left: 10%">
    <div class="card w-2/3 bg-base-100">
      <div class="card-body">
        <h2 class="leading-12">Who am I?</h2>
        <p>I am a random guy from Czechia who has a deep passion for .NET C#, with a particular fondness for the web framework Blazor and the game engine Godot. This is one of my biggest projects right now.</p>
      </div>
    </div>
  </section>
  <hr/>
  <section class="border-r-primary border-r-[1px] flex justify-end" style="margin-right: 10%">
    <div class="card w-2/3 bg-base-100">
      <div class="card-body">
        <h2 class="leading-12">Why should I care?</h2>
        <p> you might ask. Elevators isn't your typical game; it's a multiplayer gem that's sorely needed in the world of Discord communities. With a shortage of engaging options, Elevators steps in to challenge your strategic prowess and wit. Imagine competing with friends in a virtual elevator, making choices like CUT, IDLE, and UP. It's a fresh and thrilling experience that's been missing in the Discord gaming scene. So, if you're tired of the same old games and are yearning for something different, Elevators is here to fill that void. Get ready to elevate your Discord community gaming! </p>
      </div>
    </div>
  </section>
  <hr/>
  <section class="border-l-primary border-l-[1px] flex" style="margin-left: 10%">
    <div class="card w-2/3 bg-base-100">
      <div class="card-body">
        <h2 class="leading-12">What technologies are being used?</h2>
        <p>This open-source project is developed by one person. The frontend is built using Blazor WebAssembly, powered by the robust ASP.NET backend. This combination ensures a seamless and interactive web interface.
            Additionally, there is also integrated a feature-rich Discord bot using DSharp+. This bot allows you to take control of games, manage game sessions, and receive real-time updates.
            Everything is tightly integrated with a MySQL database to manage and store data efficiently.
            The versatility of Tailwind CSS has also been integrated to style and design the web components.
            Stay tuned for more exciting enhancements!
        </p>
      </div>
    </div>
  </section>
  <hr/>
  <section class="border-r-primary border-r-[1px] flex justify-end" style="margin-right: 10%">
    <div class="card w-2/3 bg-base-100">
      <div class="card-body">
        <h2 class="leading-12">How can I help?</h2>
        <p>Currently, we this is in the early stages of development, and there isn't much assistance required.
           Right now primary focus is on creating the first prototype. Once this initial phase is complete, I'll be looking for testers to help identify any potential game-breaking bugs, as well as simpler issues.
           Stay tuned for more updates on how you can contribute! </p>
      </div>
    </div>
  </section>
</main>
<hr class="primary-hr"/>
<FooterComponent/>