@page "/Dashboard"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<main class="dashboard">
    <DashboardHeaderComponent/>
    <ServerListComponent/>
    <article class="dashboard-article overflow-visible">
        <section class=" glass-panel p-4 flex flex-col items-center gap-4 w-80">
            <h2 class="text-center">Welcome to Dashboard!</h2>
            <AuthorizeView>
                @{
                    var dict = context.User.Claims.ToDictionary(claim => claim.Type, claim => claim.Value);
                }
                <div class="avatar">
                    <div class="w-24 mask mask-circle">
                        <img src="https://cdn.discordapp.com/avatars/@dict["Id"]/@(dict["Avatar"]).png"/>
                    </div>
                </div>
                <h3>@dict["Name"]</h3>
            </AuthorizeView>
            
            <LogoutButton Class="btn btn-error btn-outline w-3/4"/>
        </section>
        <section style="" class="overflow-visible">
            <sectio>
                <div class="flex justify-evenly w-full gap-8 overflow-visible">
                    <div class=" overflow-visible card w-full shadow-xl bg-primary text-primary-content">
                        <div class="card-body">
                            <h2 class="card-title">
                                Currently hosting
                                <?xml version="1.0" encoding="UTF-8"?><svg width="64px" height="64px" stroke-width="1.4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M8 21h12.4a.6.6 0 00.6-.6V3.6a.6.6 0 00-.6-.6H3.6a.6.6 0 00-.6.6V16M10 6h8M6 6h1M3.5 20.5L12 12m0 0v4m0-4H8" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                            </h2>
                            <p>0 Games</p>
                            <div class="card-actions justify-end">
                                <button class="btn">Create new</button>
                            </div>
                        </div>
                    </div>

                    <div class="card w-full shadow-xl bg-primary text-primary-content">
                        <div class="card-body">
                            <h2 class="card-title">
                                Currently playing
                                <?xml version="1.0" encoding="UTF-8"?><svg class="" width="64px" height="64px" viewBox="0 0 24 24" stroke-width="1.4" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M17.5 17.5c2.5 3.5 6.449.915 5.5-2.5-1.425-5.129-2.2-7.984-2.603-9.492A2.032 2.032 0 0018.438 4H5.562c-.918 0-1.718.625-1.941 1.515C2.78 8.863 2.033 11.802 1.144 15c-.948 3.415 3 6 5.5 2.5M18 8.5l.011.01M16.49 7l.011.01M16.49 10l.011.01M15 8.5l.011.01M7 7v3M5.5 8.5h3" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M8 16a2 2 0 100-4 2 2 0 000 4zM16 16a2 2 0 100-4 2 2 0 000 4z" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                            </h2>
                            <p>0 Games</p>
                            <div class="card-actions justify-end">
                                <button class="btn">Join new</button>
                            </div>
                        </div>
                    </div>

                    <div class="card w-full shadow-xl bg-primary text-primary-content">
                        <div class="card-body">
                            <h2 class="card-title">
                                Current wins
                                <?xml version="1.0" encoding="UTF-8"?><svg width="64px" height="64px" stroke-width="1.4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M6.745 4h10.568s-.88 13.257-5.284 13.257c-2.15 0-3.461-3.164-4.239-6.4C6.976 7.468 6.745 4 6.745 4z" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M17.313 4s.921-.983 1.687-1c1.5-.034 1.777 1 1.777 1 .294.61.529 2.194-.88 3.657-1.41 1.463-2.987 2.743-3.629 3.2M6.745 4S5.785 3.006 5 3c-1.5-.012-1.777 1-1.777 1-.294.61-.529 2.194.88 3.657a29.896 29.896 0 003.687 3.2M8.507 20c0-1.829 3.522-2.743 3.522-2.743s3.523.914 3.523 2.743H8.507z" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                            </h2>
                            <p>0 Wins</p>
                            <div class="card-actions justify-end">
                                <button class="btn">Get Good</button>
                            </div>
                        </div>
                    </div>
                </div>
            </sectio>
        </section>
    </article>
</main>