@page "/dashboard"
@page "/dashboard/{id:long}"


<main style="height: calc(100vh - 8.1rem)" class="flex">
    <DashboardServerList/>
    @if (Id is null)
    {
        <DashboardUserInfo></DashboardUserInfo>
    }
    else
    {
        <DashboardGuild/> 
    }
</main>

@code {
    [Parameter] 
    public long? Id { get; set; } // Nullable integer for optional parameter
}