@page "/Faq"


<main class="flex flex-col pt-12" style="height: calc(100vh - 8.1rem)">
    <MudText Typo="Typo.h1" Align="Align.Center">Frequently Asked <span style="color: var(--mud-palette-primary)">Questions</span></MudText>

    <div class="flex items-center">
        <img alt="" src="images/undraw_questions_re_1fy7.svg" class="w-1/2 h-1/2"/>

        <MudExpansionPanels Class="">
            <MudExpansionPanel Text="Bro had 0 hours on Aim Lab" >
                JIP rozmrdávka
            </MudExpansionPanel>

            <MudExpansionPanel Text="Lorem ipsum dolor sit amet" >
                Videa poskytují učinný způsob, jak ukázat, že máte pravdu
            </MudExpansionPanel>

            <MudExpansionPanel Text="Čili jak bych tak řekl" >
                Vypadá to, že vám všem skončilo členství v kurzu
            </MudExpansionPanel>

            <MudExpansionPanel Text="Jo píše to nelze zpracovat požadavek" >
                Jo já vim řešim to!!!!!
            </MudExpansionPanel>
        </MudExpansionPanels>

    </div>
</main>

@code {
    
}