@page "/"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<PageTitle>Elevators | Home</PageTitle>

<main class="flex flex-col p-40 gap-40">


    <div class="flex flex-col items-center gap-4">
        <MudText Typo="Typo.h1" Align="Align.Center">Elevate to the<br> highest <span style="color: var(--mud-palette-primary)">points</span>!</MudText>
        <MudText Typo="Typo.h4" Align="Align.Center" Class="opacity-50">With our Elevators bot, you will experience<br>unforgettable games with all your friends<br></MudText>
        <MudButton Href="@ConfigurationState.Value.BotUri" Variant="Variant.Filled" Class="!rounded-xl !p-3 !px-8" Size="Size.Large" Color="Color.Primary">Add to Discord</MudButton>
    </div>

    <div class="flex items-center justify-center gap-24">
        <MudCard Outlined="true" class="!rounded-2xl">
            <img src="images/undraw_spreadsheet_re_cn18.svg" class="w-96 h-96 p-10">
        </MudCard>
        <MudText Typo="Typo.h4" Align="Align.Center" Class="opacity-50">Easily organize events based<br>on popular text based game<br>Elevators</MudText>
    </div>

    <div class="flex items-center justify-center gap-24">
        <MudText Typo="Typo.h4" Align="Align.Center" Class="opacity-50">Have a full overview of<br>people who are playing and<br>their actions</MudText>
        <MudCard Outlined="true" class="!rounded-2xl">
            <img src="images/undraw_programming_re_kg9v.svg" class="w-96 h-96 p-10">
        </MudCard>
    </div>

    <div class="flex items-center justify-center gap-24">
        <MudCard Outlined="true" class="!rounded-2xl">
            <img src="images/discord-icon.svg" class="w-96 h-96 p-10">
        </MudCard>
        <MudText Typo="Typo.h4" Align="Align.Center" Class="opacity-50">Have a full overview of<br>people who are playing and<br>their actions</MudText>
    </div>

    <div class="flex flex-col items-center gap-4">
        <MudText Typo="Typo.h4" Class="opacity-50">Interested in learning more?</MudText>

        <MudButton Href="faq" Variant="Variant.Outlined" Class="!rounded-xl !p-3 !px-8" Size="Size.Large" Color="Color.Primary">Checkout FAQ</MudButton>
    </div>
</main>

