@page "/"

<section class="w-full flex justify-center">
  <div class="card w-[32rem] text-center flex">
    <div class="card-body gap-8">
      <h1 class="leading-12">Create professional Elevator game</h1>
      <p>Elevate your hosting game with Elevators, the thrilling multiplayer experience! With its dynamic gameplay and advanced technology stack, it's your ticket to unforgettable gaming sessions.</p>
      <div class="card-actions justify-center">
        <div class="join">
          <button class="btn btn-primary join-item">Add to discord</button>
          <button class="btn join-item">Dashboard</button>
        </div>
      </div>
    </div>
  </div>
</section>
<hr/>
<section class="w-full flex justify-left" style="padding-left: 30%">
  <div class="card w-96 bg-base-100">
    <figure><img class="w-80 h-80" src="imgs/Spreadsheet.svg"/></figure>
    <div class="card-body">
      <h2 class="card-title">ORGANIZE</h2>
      <p>Easily organize events based on popular text based game Elevators.</p>
    </div>
  </div>
</section>
<hr/>
<section class="w-full flex justify-end" style="padding-right: 30%">
  <div class="card w-96 bg-base-100">
    <figure><img class="w-80 h-80" src="imgs/Coffe_Break.svg"/></figure>
    <div class="card-body">
      <h2 class="card-title">MAINTAIN</h2>
      <p>Have a full overview of people, who are playing, and their actions.</p>
    </div>
  </div>
</section>
<hr/>
<section class="w-full flex justify-left" style="padding-left: 30%">
  <div class="card w-96 bg-base-100">
    <figure><img class="w-80 h-80" src="imgs/discord-mark-blue.svg"/></figure>
    <div class="card-body">
      <h2 class="card-title">INTEGRATE</h2>
      <p>Integrate your server with Elevators bot to notify players to make decisions on time.</p>
    </div>
  </div>
</section>