@page "/Server/{Code:long}"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<main class="dashboard">
    <DashboardHeaderComponent/>
    <ServerListComponent/>
    <HostingGameOnServerComponent serverId="@Code"/>
</main>

@code {
    [Parameter]
    public long Code { get; set; }
}